/* For fade-in and scale-up effect */
.ymaps-2-1-79-map-copyrights-promo {
  display: none;
}

.ymaps-2-1-79-searchbox {
  display: none;
}

.ymaps-2-1-79-controls__toolbar_right{
  display: none;
}

@keyframes modalOpen {
    from {
      opacity: 0;
      transform: scale(0.9);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .modal-enter {
    animation: modalOpen 0.2s ease-out;
  }
  
  .modal-exit {
    animation: modalOpen 0.2s ease-in reverse;
  }
  